<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.241016.32119" targetFramework="net48" />
  <package id="_nilnul_._LINQ_" version="1.1.241016.32253" targetFramework="net48" />
  <!--<package id="EntityFramework" version="6.5.1" targetFramework="net48" />-->
  <!--<package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />-->
  <package id="nilnul._bit_._LIB_" version="1.1.250403.95517" targetFramework="net48" />
  <package id="nilnul._character_._LIB_" version="2.1.250403.154606" targetFramework="net48" />
  <package id="nilnul._num_._LIB_" version="1.1.241212.85916" targetFramework="net48" />
  <package id="nilnul._num_._LINQ_" version="1.1.241212.85916" targetFramework="net48" />
  <package id="nilnul._obj_._LIB_" version="1.2.250411.55254" targetFramework="net48" />
  <package id="nilnul._rel_._LIB_" version="1.2.250317.44327" targetFramework="net48" />
  <package id="nilnul._set_._LIB_" version="1.1.250118.94723" targetFramework="net48" />
  <package id="nilnul._txt_._LIB_" version="1.1.250407.50617" targetFramework="net48" />
  <package id="nilnul._xml_._LIB_" version="1.1.250227.70442" targetFramework="net48" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.250329.142625" targetFramework="net48" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.250320.22916" targetFramework="net48" />
  <package id="nilnul.num._real_._LIB_" version="2.1.250328.63905" targetFramework="net48" />
  <package id="nilnul.num.real._matrix_._LIB_" version="1.1.250321.162117" targetFramework="net48" />
  <package id="nilnul.num.real._stream_._LIB_" version="1.0.250211.94435" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="9.0.4" targetFramework="net48" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net48" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <!--<package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />-->
  <!--<package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />-->
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net48" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net48" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net48" />
</packages>
